
<!-- AddUsers Model-->

<div class="modal "  role="dialog" [ngStyle]="{'display':display33} ">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Add Info Of User</h4>
              <button type="button" class="close" aria-label="Close" (click)="onCloseHandled3()"><span
                      aria-hidden="true">&times;</span></button>
          </div>

          <div class="modal-body">
              
                  <div>
                      <div class="mb-3 col-8 mx-auto bg-success p-2 " style="--bs-bg-opacity: .3; ">
                          <input type="text" class="form-control" placeholder="Enter Name" #name
                           >
                      </div>


                      <div class="mb-3 col-8 mx-auto bg-success p-2 " style="--bs-bg-opacity: .3; ">
                          <input type="email" class="form-control" placeholder="Enter Email" #email
                           >
                      </div>

                      <div class="mb-3 col-8 mx-auto bg-success p-2 " style="--bs-bg-opacity: .3; ">
                          <input type="text" class="form-control" placeholder="Enter Phone" #phone
                           >
                      </div>

                      <div class="mb-3 col-8 mx-auto bg-success p-2 " style="--bs-bg-opacity: .3; ">
                          <input type="text" class="form-control" placeholder="Enter Address" #address
                            >
                      </div>

                  </div>
               
               <div *ngIf="ADDa" class="alert alert-success" role="alert">
                  success - ADDED
              </div>
          </div>
          
          <div class="modal-footer">
              <button type="submit" class="btn btn-success mt-3 d-grid gap-2 col-4 mx-auto"
         (click)="ADDuser(name.value ,email.value ,phone.value,address.value)" >Add User</button>
              <button type="submit" class="btn btn-success mt-3 d-grid gap-2 col-4 mx-auto"
              (click)="onCloseHandled3()">Cancel</button>   </div>
      </div>

      
  </div>
</div>
<!-- AddUsers model-->






<div class="DI justify-content-around">
  <p class="mt-auto pp">Users</p>
    <button class="btn btn-light  m-3 col-2" type="button" (click)="AMR_ADD('zz')">Add User</button>
</div>
<div class=" text-bg-dark col-12 overflow-hidden m-auto " >



 
  <div class="mb-3 col-12 mx-auto ">

    
    <table class="table table-striped" *ngIf="users; else falseBlock">
      <thead class="table-dark col-md-6">
        <tr>

          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Number</th>
          <th>Address</th>
          <th>User-Update</th>
          <th>User-Delete</th>
        </tr>
      </thead>
      <tbody  class=" col-md-6">
        <tr   *ngFor="let s of users; index as i"  class="table-warning"  >
          <td>{{s.id}}</td>
          <td> <a class="btn" routerLink="/album/{{s.id}}">{{s.name}}</a></td>
          <td>{{s.email}}</td>
          <td>{{s.phone}}</td>
          <td>{{s.address["street"]}}</td>

          <td><button class="btn btn-outline-dark" (click)="AMR(s.id)">Update</button></td>
          <td><button class="btn btn-outline-dark" (click)="AMRDele(s.id)">Delete</button></td>
          <!-- <td><a class="btn btn-outline-dark" routerLink="/update/{{s.id}}">Update</a></td> -->
          <!-- <td><a class="btn btn-outline-dark" routerLink="/delete/{{s.id}}">Delete</a></td> -->
        </tr>
      </tbody>
    </table>


  </div>
  <ng-template #falseBlock>
    <div style="color: red;">
      <h1>Loading....</h1>
    </div>
  </ng-template>
  </div>







  <!--   update   --> 


<div class="modal "  role="dialog" [ngStyle]="{'display':display} ">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Update Info</h4>
              <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                      aria-hidden="true">&times;</span></button>
          </div>

          <div class="modal-body">
              
                  <div>
                      <div class="mb-3 col-8 mx-auto bg-success p-2 " style="--bs-bg-opacity: .3; ">
                          <input type="text" class="form-control" placeholder="Enter Name" #name
                              value="{{user?.name}}">
                      </div>


                      <div class="mb-3 col-8 mx-auto bg-success p-2 " style="--bs-bg-opacity: .3; ">
                          <input type="email" class="form-control" placeholder="Enter Email" #email
                              value="{{user?.email}}">
                      </div>

                      <div class="mb-3 col-8 mx-auto bg-success p-2 " style="--bs-bg-opacity: .3; ">
                          <input type="text" class="form-control" placeholder="Enter Phone" #phone
                              value="{{user?.phone}}">
                      </div>

                      <div class="mb-3 col-8 mx-auto bg-success p-2 " style="--bs-bg-opacity: .3; ">
                          <input type="text" class="form-control" placeholder="Enter Address" #address
                              value="{{user?.address['street']}}">
                      </div>

                  </div>
              
              <div *ngIf="udate" class="alert alert-success" role="alert">
                  success -Update
              </div>
          </div>
          
          <div class="modal-footer">
              <button type="submit" class="btn btn-success mt-3 d-grid gap-2 col-4 mx-auto"
              (click)="Update(name.value,email.value,phone.value,address.value)">Update</button>
              <button type="submit" class="btn btn-success mt-3 d-grid gap-2 col-4 mx-auto"
              (click)="onCloseHandled()">Cancel</button>            </div>
      </div>

      
  </div>
</div>

  

<!--_  delete_>-->


<div class="modal "  role="dialog" [ngStyle]="{'display':display2} ">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Update Info</h4>
              <button type="button" class="close" aria-label="Close" (click)="onCloseHandled2()"><span
                      aria-hidden="true">&times;</span></button>
          </div>

          <div class="modal-body">
              
                 
          <p>{{ID}}</p>
          <div class="modal-footer">
              <button type="submit" class="btn btn-success mt-3 d-grid gap-2 col-4 mx-auto" (click)="dele()">Delete</button>
              <button type="submit" class="btn btn-success mt-3 d-grid gap-2 col-4 mx-auto"
              (click)="onCloseHandled2()">Cancel</button> </div>
      </div>

      
  </div>
</div>

  



