
<nav class="navbar bg-success ">
  <div class="container-fluid ">
  
      <img src="assets/img/alien.png" alt="Logo" width="50" height="50" >
    
    
      

    <ul class="nav justify-content-end ">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Packages</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="#">Offers</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">Contect Us</a>
      </li>

    
      <div class="dropdown">
        <a class="btn  dropdown-toggle"  data-toggle="dropdown" > Language (EN) </a>
        <ul class="dropdown-menu colol">
          <li><a class="dropdown-item " href="#">Action</a></li>
          <li><a class="dropdown-item " href="#">Another action</a></li>
          <li><a class="dropdown-item " href="#">Something else here</a></li>
        </ul>
      </div>

      <div class="dropdown">
        <a class="dropdown-toggle btn" data-toggle="dropdown" href="#" >Currency ($)</a>
         <ul class="dropdown-menu colol">
          <li><a class="dropdown-item " href="#">Action</a></li>
          <li><a class="dropdown-item " href="#">Another action</a></li>
          <li><a class="dropdown-item " href="#">Something else here</a></li>
        </ul>
      </div>

      <li class="nav-item">
        <a class="nav-link ">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ">Sign Up</a>
      </li>

    </ul>
  </div>
</nav>
 <router-outlet></router-outlet>
